.AppBody {
    background-color: var(--body);
    width: calc(80vw - 8px);
    max-width: 960px;
    min-height: calc(100vh - 48px - 4px - 24px - 4px - 8px - 36px);
    margin: 4px auto 36px;
    padding: 4px;
}